page-vehicule-details {

    .boutton
    {
        background-color: black;
        color: #FFE830;
        text-transform: uppercase;
        font-weight: 800;
    }
    .contenu
    {
      background-image: url("../../assets/fd.jpg");
      background-size: (100% 100%);

    }
}
