page-film{

    .boutton
    {
        background-color: white;
        color: black;
        text-transform: uppercase;
        font-weight: 800;
    }
    .contenu
    { background-image: url("../assets/wallpaper.jpg");
        background-size: (100% 100%);
    }

}
