page-people {

    .boutton
    {
        background-color: white;
        color: black;
        text-transform: uppercase;
        font-weight: 800;
    }

    .boutton-2
    {
        background-color: green;
        color: white;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 70px;
        padding-left: 70px;
    }
}
