page-home {
  .navBar
  {
    background-color: white;
  }

  .logo
  {
    width: 10%;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
Police{
  color:white;
  font-family: "Lucida Console", Monospace, serif;
}
  h2
  {
    text-align: center;
  }
  .contenu
  {
    background-image: url("../../assets/homeWP.jpg");
    background-size: (100% 100%);

  }
  .centre{


  }
}

p {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}
