page-home {
  .navBar
  {
    background-color: white;
  }

  iframe{
    width: 100%;
    height: auto;
  }

  .logo
  {
    width: 10%;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
.police{
 color: black;
  text-align: justify;
 padding: 10px;
}
.police2{
  padding: 3px;
}
  h2
  {
    text-align: center;
  }

 
}

img {
  width: 100%;
  height: auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contenu
{
  background-color: black;
  
  background-image: url("../assets/wallpaper.jpg");
  background-size: (100% 100%);
  
}

.para-1
{
  margin-top: 150px;
}

.boutton
{
    background-color: #F9C81D;
    color:black;
    text-transform: uppercase;
    font-weight: 800;
    display: block;
    margin : auto;
}

.boutton:hover
{
  background-color: black;
  color: white;
}

.centrer{
  text-align:center;
  display:block;
}