page-vehicule {
    .boutton
    {
        background-color: rgb(255, 255, 255);
        color: black;
        text-transform: uppercase;
        font-weight: 800;
    }

    .boutton-2
    {
        background-color: #F9C81D;
        color: black;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 15px;
    }

    .boutton-3
    {
        background-color: #F9C81D;
        color: black;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 15px;
    }


    .center
    {
        text-align: center;
    }
    .left{
        text-align: left;

    }
    .right{
        text-align: right;

    }

.contenu
{
    background-image: url("../../assets/wallpaper.jpg");
  background-size: (100% 100%);
}



    .boutton
    {
        background-color: rgb(255, 255, 255);
        color: black;
        text-transform: uppercase;
        font-weight: 800;
    }

}